body{
    background: linear-gradient(180deg , rgb(157, 218, 237),rgb(7, 143, 177));
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    color: black;
}
h1{
    margin-top: 5%;
    font-size: 68px;

}
#button{
    width: 168px;
    height: 60px;
    background-color: lightblue;
    color: black;
    font-size: 36px;
    line-height: 50px;
    text-align: center;
    
}

#button:hover{
    cursor: pointer;
    background-color: rgba(43, 214, 226, 0.41);
    color: white;
    box-shadow: 3px 3px 3px rgb(53, 131, 157);
}
#jokecontent,#joke{
    font-size: 40px;
    line-height: 38px;
    
}
#jokecontent,img{
    margin-top: 10px;
}